@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Parkinsans:wght@300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  color: white
}


/* Headings inside the blog container */
.blog-container h1 {
  @apply text-5xl font-bold leading-tight xl:text-6xl lg:text-5xl md:text-4xl text-3xl;
}

.blog-container h2 {
  @apply text-4xl font-semibold leading-snug mt-6 xl:text-5xl lg:text-4xl md:text-3xl text-2xl;
}

.blog-container h3 {
  @apply text-3xl font-medium leading-snug mt-4 xl:text-4xl lg:text-3xl md:text-2xl text-xl;
}

.blog-container h4 {
  @apply text-2xl font-medium leading-snug mt-3 xl:text-3xl lg:text-2xl md:text-xl text-lg;
}

.blog-container h5 {
  @apply text-xl font-medium leading-snug mt-2 xl:text-2xl lg:text-xl md:text-lg text-base;
}

.blog-container h6 {
  @apply text-lg font-medium leading-snug mt-1 xl:text-xl lg:text-lg md:text-base text-sm;
}
/* Paragraphs inside the blog container */
.blog-container p {
  @apply text-base leading-relaxed mt-4;
}

/* Lists inside the blog container */
.blog-container ul {
  @apply list-disc list-inside mt-4;
}

.blog-container ol {
  @apply list-decimal list-inside mt-4;
}

.blog-container li {
  @apply mb-2 pl-4;
}

/* Blockquotes inside the blog container */
.blog-container blockquote {
  @apply italic border-l-4 pl-4 ml-4 mt-4;
}

/* Inline code inside the blog container */
.blog-container code {
  @apply font-mono text-sm bg-gray-200 px-1 rounded;
}

/* Preformatted text (code blocks) inside the blog container */
.blog-container pre {
  @apply font-mono text-sm bg-gray-900 p-4 rounded overflow-x-auto;
}

/* Horizontal rules inside the blog container */
.blog-container hr {
  @apply border-t my-8;
}

/* Images inside the blog container */
.blog-container img {
  @apply max-w-full rounded shadow-md mt-4;
}

/* Tables inside the blog container */
.blog-container table {
  @apply w-full border-collapse text-left text-sm mt-6;
}

.blog-container th {
  @apply border-b font-semibold px-4 py-2;
}

.blog-container td {
  @apply border-b px-4 py-2;
}